#logo-img {
  background: url('../img/logo_small.png') no-repeat;
  width: 184px;
  height: 184px;
  margin: 10px 15px 10px 0;
}
@font-face {
  font-family: "OldMacDonald";
  src: url("../fonts/OldMacDonaldFont.otf") format("opentype");
}

#header-nav { font-family: OldMacDonald;}
