@font-face {
  font-family: "OldMacDonald";
  src: url("../fonts/OldMacDonaldFont.otf") format("opentype");
}
@font-face {
  font-family: "OldMacDonaldIcons";
  src: url("../fonts/font905.otf") format("opentype");
}
#header-nav {
  font-family: OldMacDonald;
  background-color: #fff5d7;
  height: auto;
  min-height: 180px;

}
#logo-img {
  font-family: OldMacDonaldIcons;
  font-size: 12em;
  color: #492900;

  margin: -32px 20px 0px 0px;
}

.navbar-brand {
  padding-top: 25px;
  height: auto;
}
.navbar-brand h1,h3 {
  color: #492900;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand h3 {
  font-weight: normal;
  font-size: 1.5em;
}
.navbar-brand span {
  color: #492900;
}
.navbar-default .navbar-nav>li>a {
  color: #492900;
}

#nav-list span {
  font-family: OldMacDonaldIcons;
  font-size: 2em;
  color: #492900;
}
#nav-list {
  font-size: 2em;
  text-align: center;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header > a:hover, .navbar-header a:focus {
  text-decoration: none;
}
h2 , h3 {
  font-family: OldMacDonald;
}
.nobullets {
  list-style-type: none;
}
