<div class="container">
  <a ng-if="ctrl.batch.previous" ui-sref="batch({batchNum: ctrl.batch.previous})">< previous</a>
  <a ng-if="ctrl.batch.next" ui-sref="batch({batchNum: ctrl.batch.next})">next ></a>
  <div class="">
    <h3> Batch: {{ctrl.batch.batch}}</h3>
    <h4> {{ctrl.batch.name}}</h4>
    <h4>Style: {{ctrl.batch.style}}</h4>
    <h4>Brewed on: {{ctrl.batch.brewdate}}</h4>
    <h4>Bottled on: {{ctrl.batch.bottledate}}</h4>
    <h4>Original gravity: {{ctrl.batch.og}}</h4>
    <h4>Final gravity: {{ctrl.batch.fg}}</h4>
    <h4 ng-if="(ctrl.batch.og && ctrl.batch.fg)">ABV estimate: {{ctrl.abv()}} </h4>
    <h4>Notes: {{ctrl.batch.notes}}</h4>
    <div ng-if="ctrl.batch.recipe">
      <h4>Recipe:</h4>
      <h5>Ingredients</h5>
      <ul ng-repeat="item in ctrl.batch.recipe.ingredients">
        <li>{{item.qty}} {{item.item}} <span ng_if="item.note">({{item.note}})</span></li>
      </ul>
      <div class="" ng-if="ctrl.batch.recipe.method">
        <h5>Method:</h5>
        <span id="BatchRecipeMethod" ng-repeat="step in ctrl.batch.recipe.method"> {{step}}<br></span>
      </div>
    </div>

  </div>


</div>
