<div class="">
  <h3>The Beers:</h3>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Batch</th>
        <th scope="col">Name</th>
        <th scope="col">Style</th>
        <th scope="col">Brewed On</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="beer in ctrl.allbeers | orderBy:'-'"
        ui-sref="batch({batchNum: beer.batch})">
        <td>{{beer.batch}}</td>
        <td>{{beer.name}}</td>
        <td>{{beer.style}}</td>
        <td>{{beer.brewdate}}</td>
      </tr>
    </tbody>
  </table>
</div>
