<div class="">
  <h2>About the Brewery</h2>
  Old MacDonald's Fine Ales began with the first batch, brewed in 1985, after discovering Charlie Papazian's <i>The Complete Joy of Homebrewing</i>  at the Toronto Public Library. Papazian's book, and his mantra <q >Relax Don't Worry Have a Homebrew</q>, made it clear that homebrewing was something anyone could do. With some pauses as life got busy Old MacDonald's Fine Ales has been going strong ever since. In recent years we have been producing 6 to 8 all grain batches per year using home grown hops where possible.
  <br>


</div>
